
body {
    margin: 0;
    height: 100vh;
    font-family: Verdana;
    font-size: 11px;
    color: #000000;
}

.frameset {
    width: 100%;
    height: 100vh;
}

.frame {
    display: block;
    border: none;
    float: left;
}

.frame#sidebar {
    max-width: 50vw;
    min-width: 15vw;
    overflow: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 8.5pt;
    background-color: #f0f0f0;
    color: White;
}

.frame#content {
    background: #FFFFFF;
}

.splitter-bar {
	width: 5px;
	background: #aaa;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Tree {
    height: 100%;
    min-width: max-content;
    margin-left: -5vw;
}

.Tree ul {
    height: 100%;
    width: 100%;
}

.Tree li {
    height: max-content;
    min-width: max-content;
    padding-left: 15px;
    display: block;
}

.Tree li span#link {
    height: 100%;
    width: 100%;
    display: block;
}

.Tree li span#link:hover {
    background-color: #cccccc;
}

.Tree a {
    color:
    black;
    text-decoration:
    none;
    padding-left: 25px;
    width: calc(100% - 25px);
    cursor: pointer;
    display: block;
    line-height: 18px;
}

.icon {
    margin-left: 15px;
    width: 10px;
    display: inline-block;
    height: 10px;
}

.icon-Children:before {
    background: url('../Icons/Collapsed.gif') !important;
}

.icon-Enumerations:before, .icon-Methods:before {
    background: url('../Icons/Item.gif') !important;
}

.icon:before {
    content: '';
    background: url('../Icons/Expanded.gif');
    width: 10px;
    background-size: cover;
    text-align: center;
    display: block;
    height: inherit;
    margin-top: 1px;
    position: absolute;
}

.nested {
    display: none;
}

/** content.html **/

.content-body {}


table {
    border-spacing: 0;
}
.mainContainer {
    width: 100%;
    height: 100%;
}

.mainContainer tr {
    vertical-align: top;
}

.mainContainer #head {
    width: 100%;
    height: 8vh;
    box-shadow: 0px -16px 10px -20px rgb(0 0 0 / 75%) inset;
}

.mainContainer #body {
    background: white;
    padding: 15px;
}

#head > table {
    height: 100%;
    width: calc(100% - 1vw);
    margin-left: 1vw;
    border-collapse: collapse;
    white-space: nowrap;
    margin-top: .5vw;
}

#head .icon {
    margin-left: 1vw;
}

#head tr:nth-child(2) td {
    padding-left: 5vw;
    padding-top: 2vw;
}

#head tr:nth-child(3) td {
    padding-left: 5vw;
    padding-bottom: 1.5vw;
}

.header {
    font-size: 16px !important;
    font-weight: bold;
}

.CollapseContent .icon {
    margin-left: 0;
}

.CollapseContent .icon:before {
    margin-top: -1px;
}

/** #BODY DIV **/
#body table {
    width: 100%;
    height: 100%;
}

#body table tr {display: table;width: 100%;}

#body table > tr:nth-child(1) {
    padding-bottom: 5vh;
}

#body table table {
    width: calc(100% - 4vh);
    margin-top: 2vh;
    margin-left: 4vh;
    height: max-content;
    text-align: left;
    border: none;
    box-sizing: border-box;
    border-spacing: 2px;
    border-collapse: separate;
}

#body table table tr {
    background-color: #F7F7FF;
    vertical-align: middle;
}

#body table table tr img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#body table table tr th {
    height: 15px;
    padding: 5px;
    border-bottom: 1px solid #D5D5D3;
    border-left: 1px none #D5D5D3;
}

#body table table tr td {
    padding: 5px;
    border-bottom: 1px solid #D5D5D3;
    border-left: 1px none #D5D5D3;
}