
body {
    margin: 0;
    height: 100vh;
    font-family: Verdana;
    font-size: 11px;
    color: #000000;
}

code {
    white-space: break-spaces;
}

#body #Code {
    padding: 1vw;
}

td#Title {
    padding: .5vw !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(0 0 0 / 50%) !important;
    cursor: pointer;
}

.header:hover {
    color: #000000 !important;
}

.frameset {
    width: 100%;
    height: 100vh;
}

.frame {
    display: block;
    border: none;
    float: left;
}

.frame#sidebar {
    max-width: 50vw;
    min-width: 100px;
    overflow: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 8.5pt;
    background-color: #f0f0f0;
    color: White;
}

.frame#content {
    background: #FFFFFF;
}

.splitter-bar {
	width: 5px;
	background: #aaa;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Tree {
    height: 100%;
    min-width: max-content;
    margin-left: -50px;
}

.Tree ul {
    height: 100%;
    width: 100%;
}

.Tree li {
    height: max-content;
    padding-left: 15px;
    display: block;
}

.Tree li span#link {
    height: 100%;
    width: 100%;
    display: block;
}

.Tree li span#link:hover {
    background-color: #cccccc;
}

.Tree a {
    text-decoration: none;
    padding-left: 25px;
    color: black;
    height: max-content;
    width: calc(100% - 40px);
    cursor: pointer;
    display: block;
    line-height: 18px;
}

.icon {
    margin-left: 15px;
    width: 10px;
    display: inline-block;
    height: 10px;
}

.icon-selectall {
    margin-left: 15px;
    width: 10px;
    display: inline-block;
    height: 10px;
}

.icon-Children:before {
    background: url('../Icons/Collapsed.gif') !important;
}

.icon-blackbox:before {
    background: url('../Icons/Item.gif') !important;
}

.icon-copy:before {
    background: url('../Icons/copycode.gif') !important;
    height: 15px !important;
    width: 15px !important;
    margin: -2px 0 0 -18px !important;
    vertical-align: baseline;
    display: block !important;
    position: absolute;
}

.icon:before {
    content: '';
    background: url('../Icons/Expanded.gif');
    width: 9px;
    text-align: center;
    display: inline-block;
    height: 9px;
}

.icon-selectall:before {
    content: '';
    background: url('../Icons/Expanded.gif');
    width: 10px;
    text-align: center;
    display: inline-block;
    height: 9px;
    margin-right: 2px;
}

.nested {
    display: none;
}

/** content.html **/

.content-body {}


table {
    border-spacing: 0;
}
.mainContainer {
    width: 100%;
    height: 100%;
}

.mainContainer tr {
    vertical-align: top;
}

.mainContainer #head {
    width: 100%;
    height: 8vh;
    box-shadow: 0px -16px 10px -20px rgb(0 0 0 / 75%) inset;
}

.mainContainer #body {
    background: white;
    padding: 15px;
}

#head > table {
    height: 100%;
    width: calc(100% - 1vw);
    margin-left: 1vw;
    border-collapse: collapse;
    white-space: nowrap;
    margin-top: .5vw;
}

#head .icon {
    margin-left: 1vw;
}

#head tr:nth-child(2) td {
    padding-left: 5vw;
    padding-top: 2vw;
}

#head tr:nth-child(3) td {
    padding-left: 5vw;
    padding-bottom: 1.5vw;
}

.header {
    font-size: 16px !important;
    font-weight: bold;
}

.subheader {
    font-size: 12px !important;
    font-weight: bold;
    padding-top: 1vh;
}

.CollapseContent .icon {
    margin-left: 0;
}

.CollapseContent .icon:before {position: absolute;}

/** #BODY DIV **/

#body table {
    width: 100%;
}

#body .icon {
    width: 100%;
    margin-left: 0;
    height: max-content;
}

#body .icon:before {
    margin-right: 8px;
    margin-bottom: 1px;
}

#body .Tree {
    min-width: auto;
    margin-left: 0;
    width: min-content;
}

#body .Tree a {
    padding-left: 0;
    width: min-content;
    text-decoration: initial;
    color: initial;
}

#body > table tr {width: 100%;}

#body > table > tbody > tr {
    display: table;
    padding-bottom: 4vh;
}

#body .children {
    padding-top: 1vh;
    width: calc(100% - 2vw);
    padding-left: 2vw;
}

#body > table table {
    width: calc(100% - 4vw);
    text-align: left;
    border: none;
    box-sizing: border-box;
    border-spacing: 2px;
    border-collapse: separate;
}

#body > table table tr {
    vertical-align: middle;
    padding-left: 2vw;
}

#body > table table tr img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 16px;
}

#body > table table tr td:first-child {width: 25px;padding: 0;}
#body > table table tr th:first-child {
    width: 25px;
    padding: 5px;
}

#body > table table tr th {
    height: 15px;
    border-bottom: 1px solid #D5D5D3;
    border-left: 1px none #D5D5D3;
    background-color: #F7F7FF;
    padding-left: 2vw;
    padding-right: 2vw;
}

#body > table table tr td {
    border-bottom: 1px solid #D5D5D3;
    border-left: 1px none #D5D5D3;
    background-color: #F7F7FF;
    padding: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
}

#body #Syntax table tr:nth-child(1) td:nth-child(1){
    background-color: #EFEFF7;
    font-weight: bold;
}

#body #Returns td, #body #Parameters td {
    background-color: transparent;
    border: none;
}

#body #Parameters td {
    padding-top: 3vh;
    padding-left: 0;
}

#body #Returns li:nth-child(2), #body #Returns li:nth-child(3){
    margin-left: 5px;
    margin-top: 5px;
}

#body #see-also ul{
    margin: 5px;
}

#body #see-also a {
    width: 100%;
    height: max-content;
}

#body #see-also .icon:before {
    margin-right: 0;
    margin-bottom: 0;
}

#body #SeeAlso .children {
    padding: 0vh 0px 0px 2vh !important;
    background: transparent !important;
    border: 0 !important;
}

#body #InheritanceHierarchy .children {
    padding-top: 1vh !important;
    background: transparent !important;
    border: 0 !important;
    padding-left: 2px;
}

#body #InheritanceHierarchy .Tree-Children {
    padding-left: 2vw;
}

#body #InheritanceHierarchy .Tree ul:first-child {
    padding-left: 0;
}


#body-content > tbody > tr:nth-child(1) {
    height: min-content;
    width: 100%;
    line-height: 10vh;
    padding-bottom: 0;
}

.icon-two:first-child, .icon-two th:first-child {
    text-indent: 0; width: 40px !important;
}

.icon-two tr td:nth-child(1) {
     text-indent: 0;
}

.icon-two tr td img {
    display: inline-block !important;
    margin-left: 1vw !important;
}


.icon-two tr td img:nth-child(1){
    max-width: 12px;
}


.icon-two tr td img:nth-child(2){
    margin-left: 2px !important;
    max-width: 12px;
}

#Parameters li#Parameter{
    padding-top: 5px;
}

#body #Returns td {
    padding-left: 0 !important;
}

#body #Returns ul li:nth-child(3){
    padding-top: 0 !important;
}

#Syntax li:not(:nth-child(1)){
    padding-left: 1vw;
}

#Examples #Title a {
    float: right;
    width: max-content !important;
}

#body-content #Description {
    line-height: normal;
    padding-top: 2vh !important;
    padding-bottom: 2vh !important;
}