
body {
    margin: 0;
    height: 100vh;
    margin-left: -25px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
}

.frameset {
    width: 100%;
    height: 100vh;
}

.frame {
    display: block;
    border: none;
    float: left;
}

.frame#sidebar {
    max-width: 50vw;
    min-width: 15vw;
    overflow: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 8.5pt;
    background-color: #f0f0f0;
    color: White;
}

.frame#content {
    background: #FFFFFF;
    color: #000000;
    font-family: Verdana;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
}

.splitter-bar {
	width: 5px;
	background: #aaa;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Tree {
    height: 100%;
    min-width: max-content;
}

.Tree ul {
    min-height: 20px;
    height: 100%;
    width: 100%;
}

.Tree li {
    height: 20px;
    min-width: max-content;
    padding-left: 15px;
    display: block;
}

.Tree li span#link {
    height: 100%;
    width: 100%;
    display: block;
}

.Tree li span#link:hover {
    background-color: #cccccc;
}

.Tree a {
    color:
    black;
    text-decoration:
    none;
    padding-left:25px;
    width: calc(100% - 25px);
    cursor: pointer;
    display: block;
    height: 100%;
    text-align: left;
}

.Tree a span {vertical-align: middle;}

.icon {
    margin-left: 15px;
    width: 10px;
    padding-right: 2px;
    display: inline-block;
    height: 100%;
}

.icon::after {
    vertical-align: middle;
}

.icon-Children:before {
    background: url('../Icons/Collapsed.gif');
}

.icon-Enumerations:before {
    background: url('../Icons/Item.gif');
}

.icon:before {
    content: '';
    width: 10px;
    height: 10px;
    background-size: cover;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    vertical-align: middle;
}

.nested {
    display: none;
}