
body {
    margin: 0;
    height: 100vh;
    font-family: Verdana;
    font-size: 11px;
    color: #000000;
}

code {
    white-space: pre;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color:rgb(0 0 0 / 50%) !important;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table {
    /* border-collapse: separate; */
    border-spacing: none;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.subtitle {
    font-size: 22px;
    font-weight: 500;
    font-family: Arial;
}

.subtitle2 {
    font-size: 12px;
    font-weight: bold;
}

/*************** INDEX.HTML ***************/
.frameset {
    width: 100%;
    height: 100vh;
}

.frame {
    display: block;
    border: none;
    float: left;
}

.frame#sidebar {
    max-width: 50vw;
    min-width: 100px;
    overflow: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 8.5pt;
    background-color: #f0f0f0;
}

.frame#content {
    background: #FFFFFF;
}

.splitter-bar {
	width: 5px;
	background: #aaa;
}

/*******************************************/


/*************** ICON STYLE ****************/

.icon-selectall:before {
    width: 10px;
    height: 10px;
}

.icon-collapsed:before {
    background: url('../Icons/Collapsed.gif') !important;
}

.icon-blackbox:before {
    background: url('../Icons/Item.gif') !important;
}

.icon-blackbox:hover {
    cursor: default;
}

.icon-copy {
    pointer-events: none;
}

.icon-copy:before {
    background: url('../Icons/copycode.gif') !important;
    height: 15px !important;
    width: 15px !important;
    margin-right: 3px;
}

.icon-copy:hover {
    cursor: default;
}

.icon:before {
    content: '';
    background: url('../Icons/Expanded.gif');
    height: 9px;
    width: 9px;
    display: inline-block;
}

.icon-tree:before {
    height: 9px;
    width: 9px;
}

/*******************************************/

/**************** TREE VIEW *****************/

.tree {
    width: max-content;
}

.tree-node {
    padding-left: 1vw;
    padding-top: 5px;
}

.tree-node:hover {
    cursor: default;
}

.tree-button {
    display: inline-block;
    color: black;
}

.nested {
    display: none;
}

/********************************************/

/*************** CONTENT.HTML ***************/

.content {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.content tr:nth-child(2){
    vertical-align: top;
}

.content tr:nth-child(1) {
    height: 3em;
}

.content tr > td {
    vertical-align: top;
}

/****** .HEAD ******/
.head {
    width: 100%;
    height: 8vh;
    vertical-align: top;
    padding-left: 1vw;
    box-shadow: 0px -16px 10px -20px rgb(0 0 0 / 75%) inset;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.head tr {
    height: 4vh;
    vertical-align: top;
}

.head tr:not(:nth-child(1)) td {
    padding-left: 4vw;
}

.head-links a {
    padding-right: 1vw;
}

.head .head-title {
    height: 0;
}

.head .head-subtitle td {
    padding-bottom: 1em;
}

/*******************/

/****** .BODY *****/

.body {
    width: calc(100% - 20px - 2vw);
    border-spacing: 2px 3px;
    border-collapse: collapse;
    margin-left: 10px;
    margin-top: 3em;
}

.body tr td{
    padding-bottom: 2em;
}

.body .children {
    padding-left: 14px;
    padding-top: 5px;
}

.body tr:nth-child(1) td {
    padding-bottom: 14px;
    padding-left: 1.5em;
}

.body table {
    width: calc(100vw - 60px);
    text-align: left;
    padding-left: 12px;
    padding-top: 10px;
}

.body table tr td {
    background-color: #F7F7FF;
    border-bottom: 1px solid #D5D5D3;
    border-left: 1px none #D5D5D3;
    padding: 1em 1em .75em 1em;
    vertical-align: middle;
}

.body table tr td:nth-child(2) {width: 40%;}

.body table tr th {
    background-color: #EFEFF7;
    border-bottom: 1px solid #D5D5D3;
    border-left: 1px none #D5D5D3;
    padding: 1em 1em .75em 1em;
}

.body table tr td:nth-child(1) {
    width: 38px;
    padding-left: initial;
    padding-right: initial;
}

.body .icon-two tr td {
    padding: 1em 1em .75em 1em !important;
}

.body .icon-two tr th:nth-child(2) {
    min-width: 34%;
}

.body .icon-two tr td:nth-child(2) {
    width: calc(40vw - 76px);
}

.body .icon-two-adjust tr td img:nth-child(2) {
    padding-left: 5px;
}

.body table img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.body .icon-two img {
    display: inline-block;
}

/*******************/

/****** .BODY SYNTAX *****/

.body .syntax tr td:nth-child(1) {
    width: auto;
    padding: 1em 0 .75em 1em !important;
}

.body .syntax tr th:nth-child(1) span {
    vertical-align: middle;
}

/** COPY CODE **/
.body .syntax tr th:nth-child(1) span:nth-child(2) {
    float: right;
}

.body .syntax tr th:nth-child(1) span:nth-child(2) a {
    vertical-align: middle;
}

.body .syntax tr:not(:nth-child(1),:nth-child(2)) td {
    background-color: transparent;
    border: 0;
    padding-left: 0;
}

.body .syntax tr td ul li:is(#Parameter) {
    padding-top: 1em;
}
.body .syntax tr td ul li:where(#Parameter) {
    padding-top: 1em;
}

.body .syntax code {
    width: 100%;
    height: 100%;
}

.body .body-list td > ul {
    padding: 0 0 0 14px;
}

.body .body-list ul {
    padding-left: .75em;
}

.body .body-list ul li {
    padding-left: 0;
}

.body #Description {
    vertical-align: top;
}

/*************************/

/*******************************************************************/